In [ ]:
# 1. A companyâ€™s financial reports stored in an Excel file - Structured data
# 2. Photographs uploaded to a social media platform. - Unstructured data
# 3. A collection of news articles on a website. - Unstructured data
# 4. Inventory data in a relational database. - Structured data
# 5. Recorded interviews from a market research study. - Unstructured data

In [ ]:
# 1) A series of blog posts about travel experiences
# Way to structure:
# Blog posts can be categorized by travel type (e.g., city, safari, resort). Each category can be further organized by attributes like traveling with children, budget range, or season of travel.

# 2) Audio recordings of customer service calls
# Way to structure:
# Calls can be transcribed and categorized by issue type (e.g., billing, technical support, cancellation), call outcome (resolved/unresolved), sentiment, and duration.

# 3) Handwritten notes from a brainstorming session
# Way to structure:
# Notes can be digitized and classified into sections such as:
# # Main ideas
# # Completed tasks
# # Action items with deadlines
# # Responsible persons for each task
# This creates a structured to-do list with traceable ownership.

# 4) A video tutorial on cooking
# Way to structure:
# Videos can be labeled by meal type (e.g., breakfast, dinner, dessert), and segmented into chapters like:
# # Ingredients list
# # Preparation steps
# # Cooking steps
# # Serving suggestions

In [1]:
import pandas as pd
data_frame = pd.read_csv('train.zip')
data_frame.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
import pandas as pd
data_frame_iris = pd.read_csv('Iris_dataset.zip', header=None)
data_frame_iris.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [6]:
import numpy as np
from faker import Faker
import pandas as pd
fake = Faker()
data = [(fake.name(), np.random.randint(18, 70)) for _ in range(20)]
df_for_loud = pd.DataFrame(data, columns=['Name', 'Age'])
print(df_for_loud.head())
df_for_loud.to_excel('df_into_excel.xlsx', sheet_name='Sheet1')
df_for_loud.to_json('df_into_json.json', orient='index')

               Name  Age
0       Donna Walsh   42
1      Robert Smith   31
2    Kathy Reynolds   52
3  Stephen Jennings   24
4       Joel George   36

In [9]:
import pandas as pd
df = pd.read_json('posts.zip')
df.head(5)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...