In [2]:
import pandas as pd
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [3]:
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [7]:
import pandas
df = pd.read_csv("ExerciseXP\Credit Card Approvals (Clean Data)\Credit Card Approvals (Clean Data)\clean_dataset.csv")
print(df)

     Gender    Age    Debt  Married  BankCustomer         Industry Ethnicity  \
0         1  30.83   0.000        1             1      Industrials     White
1         0  58.67   4.460        1             1        Materials     Black
2         0  24.50   0.500        1             1        Materials     Black
3         1  27.83   1.540        1             1      Industrials     White
4         1  20.17   5.625        1             1      Industrials     White
..      ...    ...     ...      ...           ...              ...       ...
685       1  21.08  10.085        0             0        Education     Black
686       0  22.67   0.750        1             1           Energy     White
687       0  25.25  13.500        0             0       Healthcare    Latino
688       1  17.92   0.205        1             1  ConsumerStaples     White
689       1  35.00   3.375        1             1           Energy     Black

     YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
0             1.25             1         1            1               0
1             3.04             1         1            6               0
2             1.50             1         0            0               0
3             3.75             1         1            5               1
4             1.71             1         0            0               0
..             ...           ...       ...          ...             ...
685           1.25             0         0            0               0
686           2.00             0         1            2               1
687           2.00             0         1            1               1
688           0.04             0         0            0               0
689           8.29             0         0            0               1

          Citizen  ZipCode  Income  Approved
0         ByBirth      202       0         1
1         ByBirth       43     560         1
2         ByBirth      280     824         1
3         ByBirth      100       3         1
4    ByOtherMeans      120       0         1
..            ...      ...     ...       ...
685       ByBirth      260       0         0
686       ByBirth      200     394         0
687       ByBirth      200       1         0
688       ByBirth      280     750         0
689       ByBirth        0       0         0

[690 rows x 16 columns]

In [8]:
df.head(5)

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1